<footer>
<span>2019</span>
<span>Jordan M.</span>
<span>
  <a href="https://github.com/Jordan-Morales"><ion-icon size="large" name="logo-github"></ion-icon></a>
  <a href="https://www.linkedin.com/in/jordanmorales/"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>


</span>
</footer>
