<nav>
  <div class="">
    <ul class="">
      <li class=""><a href="/">Home</a></li>
      <li class=""><a href="/tea">Teas</a></li>
      <li class=""><a href="#">Other</a></li>
    </ul>
  </div>
  <div class="">
    <ul class="">
      <li class=""><a href="#">Login</a></li>
      <li class=""><a href="#">Log Out</a></li>
    </ul>
  </div>
</nav>
