<nav class="light-green darken-4">
  <div class="row">
    <div class="col m7 offset-m2">
      <ul class="">
        <li class=""><a href="/tea">Teas</a></li>
        <li class=""><a href="/brews/">My Brews</a></li>
      </ul>
    </div>
    <div class="col m3">
      <ul class="">
        <li class="">
          <form action="/destroy?_method=DELETE" method="POST">
            <input class ="btn-small black" type="submit" value="Log Out">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
