<nav class="light-green darken-4">
  <div class="row">
    <div class="col m7 offset-m2">
      <ul class="">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="col m3">
      <ul class="">
        <li class="">
          <a class ="btn-small black" href="/sessions/new">Login Here!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
