<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('./partials/head.ejs'); -%>
</head>
<body>
  <%- include('./partials/preheader.ejs'); -%>
  <div class="container">

      <h1>About Tea-licious and it's creator</h1>
      <div class="divider"></div>
      <div class="section flow-text">
        Learn more about Tea-licious and the creator<br/>
        My name is Jordan M. I'm a growing and every learning developer.<br/>
        However, sometimes I just enjoy a cuppa. So dig and and save your favourite cuppa and don't forget to edit and customize your own.
        
      </div>
  </div>

  <%- include('./partials/footer.ejs'); -%>
</body>
</html>
