<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>

    <h1>Welcome to the Best Tea Resource</h1>
    <div class="container">

    </div>

    <% include ./partials/footer.ejs %>
  </body>
</html>
