<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./partials/head.ejs %>
  <style>
    body {
      background-image: url(https://res.cloudinary.com/hvqyfnzvb/image/upload/v1573100580/oriento-tJU1GxQLy4o-unsplash_uxivqb.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      text-shadow: 1px 1px black;
      background-color: rgba(102, 187, 106, 0.75);
    }
  </style>
</head>
<body>
  <% include ./partials/preheader.ejs %>
  <div class="container white-text flow-text">
      <h1>Tea-licious</h1>
      <h4>A Tea Resource</h1>
        <div class="divider"></div>
        <div class="section">
          Welcome to this tea collection, we want you to enjoy your experience searching for new teas and forming your own favourite collection. <br/>
          <br/>
          Please sign up and login to join our growing community.
        </div>
        <div class="divider"></div>
    <div class="row">
      <div class="col m6">
        <span class="flow-text"><a class ="btn-large green darken-4" href="sessions/new">Log In</a></span>
      </div>
      <div class="col m6">
        <span class="flow-text"><a class ="btn-large green darken-4" href="users/new">Sign Up</a></span>
      </div>
    </div>
  </div>
  <% include ./partials/footer.ejs %>
</body>
</html>
