 /* Alt styling sheet - working and linked to head */

body {
  text-align: center;
  background-color: rgb(182, 213, 179);
}

.teaShow {
  height: 20vw;
  width: auto;
}

.card {
  box-shadow: 4px 4px darkgrey;

}

.card-image {
  height: 15vw;
  overflow: hidden;
}
.shadow{
  text-shadow: 2px 2px black;
}
