 /* Alt styling sheet - working and linked to head */

body {
  text-align: center;
}

.teaShow {
  height: 20vw;
  width: auto;
}

.card {
  box-shadow: 4px 4px lightgrey;
}
.shadow{
  text-shadow: 2px 2px black;
}
