<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h4>Add a Tea to Our Collection</h4>
    <div class="container flow-text">
      <form action="/tea" method="POST">
        Name: <input type="text" name="name">
        Type: <input type="text" name="type">
        Origin: <input type="text" name="origin">
        <input type="submit" value="Create for All">
      </form>
    </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>
